<h1>Bienvenido al Saludador Node</h1>

<p>En este sitio encontrará todo lo necesario para ser saludado</p>

<div>

    <h2> Qué desea hacer? </h2>

    <div>
        <h3>Deseo ser saludado</h3>

        <form method="get" action="/saludo">
            <label for="nombre">Nombre: </label><input type="text" name="nombre">
            <input type="submit">
        </form>
    </div>

    <div>
        <h3>Deseo ser despedido</h3>

        <form method="get" action="/despedida">
            <label for="nombre">Nombre: </label><input type="text" name="nombre">
            <input type="submit">
        </form>
    </div>
</div>